<web-app>
  <display-name>SessionTracking</display-name>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.example.servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DisplayServlet</servlet-name>
    <servlet-class>com.example.servlets.DisplayServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DisplayServlet</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.example.servlets.LogoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>
