<web-app>

    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>com.javatpoint.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/ControllerServlet</url-pattern>
    </servlet-mapping>

</web-app>
